<footer>
  <section class="footer-section">
    <h4 class="footer-header">Titre N</h4>
    <a href="#">Xxxxxxxxx</a>
    <a href="#">Xxxxxxxxx</a>
    <a href="#">Xxxxxxxxx</a>
  </section>
  <section class="footer-section">
    <h4 class="footer-header">Titre N</h4>
    <a href="#">Xxxxxxxxx</a>
    <a href="#">Xxxxxxxxx</a>
    <a href="#">Xxxxxxxxx</a>
  </section>
  <section class="footer-section">
    <h4 class="footer-header">Titre N</h4>
    <a href="#">Xxxxxxxxx</a>
    <a href="#">Xxxxxxxxx</a>
    <a href="#">Xxxxxxxxx</a>
  </section>
</footer>
