<section class="navbar">
  <section class="hamburger-menu">
    <input id="menu-toggle" type="checkbox"/>
    <label class="menu-btn" for="menu-toggle">
      <span></span>
    </label>

    <ul class="menu-box">
      <li><a class="menu-item" href="#">Accueil</a></li>
      <li><a class="menu-item" href="#">All xxx</a></li>
      <li><a class="menu-item" href="#">Mes xxx</a></li>
      <li><a class="menu-item" href="#">A propos</a></li>
      <li><a class="menu-item" href="#">Contact</a></li>
    </ul>
  </section>
  <section class="logo-section">
    <a href="#">
      <%= image_tag("Nature_panda.png", id:"logo", alt:"logo site web")%>
    </a>
  </section>
  <section class="user-section">
    <%= image_tag("user_icon_white.png", id:"user-icon", alt:"options utilisateur")%>
  </section>
</section>
